**Trabalhando com Planilhas do Excel-Breno Souza**

In [1]:
#Importando a biblioteca
import pandas as pd

In [26]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [6]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [7]:
df3.head()

  Cidade       Data  Vendas  LojaID  Qtde
0  Natal 2018-08-27   606.0     853     2
1  Natal 2018-11-25   563.0     853     2
2  Natal 2019-03-11   308.0     852     3
3  Natal 2019-01-07   271.0     854     3
4  Natal 2019-03-09   699.0     853     3

In [9]:
df4.head()

   Cidade       Data  Vendas  LojaID  Qtde
0  Recife 2019-01-01  162.61     981     1
1  Recife 2019-01-01   11.44     983     1
2  Recife 2019-02-10   12.94     983     5
3  Recife 2019-02-10  160.54     981     3
4  Recife 2019-02-14   19.89     983     7

In [10]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [27]:
#Juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [12]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [13]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [15]:
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
226     Natal 2019-01-02   38.32    1035     2
137    Recife 2019-03-02   51.99     983     3
213  Salvador 2019-01-02   42.12    1035     1
109     Natal 2019-01-02  124.37    1035     1
45    Aracaju 2018-01-01  131.12    1523     5

In [17]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [19]:
df["LojaID"] = df["LojaID"].astype("object")

In [20]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

Tratando valores faltantes

In [21]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [23]:
#Substitundo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [28]:
df["Vendas"].mean()

122.61180089485438

In [25]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
92   Fortaleza 2019-01-01    3.49   1005     4
13     Aracaju 2018-01-01   43.45   1522    10
87    Salvador 2019-01-01  135.19   1034     2
174   Salvador 2019-01-02   35.30   1037     1
148      Natal 2019-01-02   40.59   1037     3
32      Recife 2019-01-01   15.93    982     7
94      Recife 2019-01-01   24.70    982     3
74   Fortaleza 2019-01-01  163.09   1005     5
10   Fortaleza 2019-01-01  179.88   1002     4
79       Natal 2019-02-28  557.00    852     4
11      Recife 2019-01-01  202.79    980     5
27      Recife 2019-01-01   22.25    980     7
117    Aracaju 2018-01-01  170.97   1521     4
155   Salvador 2019-01-02  237.81   1036     3
51       Natal 2018-01-21  859.00    852     4

In [31]:
df.isnull().sum

<bound method DataFrame.sum of      Cidade   Data  Vendas  LojaID   Qtde
0     False  False   False   False  False
1     False  False   False   False  False
2     False  False   False   False  False
3     False  False   False   False  False
4     False  False   False   False  False
..      ...    ...     ...     ...    ...
235   False  False   False   False  False
236   False  False   False   False  False
237   False  False   False   False  False
238   False  False   False   False  False
239   False  False   False   False  False

[894 rows x 5 columns]>

In [29]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [30]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [32]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [33]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [35]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [36]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00    1520     1   142.00
1  Aracaju 2018-01-01   14.21    1522     6    85.26
2  Aracaju 2018-01-01   71.55    1520     1    71.55
3  Aracaju 2018-01-01    3.01    1521     7    21.07
4  Aracaju 2018-01-01   24.51    1522     8   196.08

In [37]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [38]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00    1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21    1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55    1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01    1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51    1522     8   196.08             8.0

In [39]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [40]:
df["Receita"].min()

3.34

In [41]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0

In [42]:
#nsamLLest
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34    1522     1     3.34             1.0
65    Recife 2019-01-01    4.01     981     1     4.01             1.0
92     Natal 2019-01-02    4.57    1035     1     4.57             1.0

In [43]:
#Agrupando por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [44]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
30  Natal 2018-10-02   856.0     853     4   3424.0             4.0
41  Natal 2018-05-20   835.0     852     4   3340.0             4.0
38  Natal 2018-02-25   828.0     852     4   3312.0             4.0
10  Natal 2018-10-27   828.0     852     4   3312.0             4.0
69  Natal 2019-03-24   817.0     852     4   3268.0             4.0
62  Natal 2018-02-10   793.0     854     4   3172.0             4.0
52  Natal 2018-04-27   778.0     854     4   3112.0             4.0

**Trabalhando com datas**